@keyframes toWhite {
    from {background-color: transparent; border-bottom: 0px solid transparent;}
    to {background-color: white; border-bottom: 1px solid #cccccc;}
  }
  @keyframes toClear {
    from {background-color: white; border-bottom: 1px solid #cccccc;}
    to {background-color: transparent; border-bottom: 0px solid transparent;}
  }
  @keyframes toDownX {
    from {
      left:15px; 
      top:16px; 
      transform:rotate(0deg);
    }
    to {
      left:15px; 
      top:23px; 
      transform:rotate(45deg);
    }
  }
  @keyframes toUpX {
    from {
      left:15px; 
      top:22px; 
      transform:rotate(0deg);
    }
    to {
      left:15px; 
      top:15px;
      transform:rotate(-45deg);
    }
  }
  @keyframes toNoX {
    from {
      left: 15px;
      width: 20px;
    }
    to {
      left: 25px;
      width: 0px;
    }
  }

  @keyframes toOpenSidebar {
      from{
          width: 0px;
          padding: 0px 0px 0px 0px;
      }
      to {
          width: 220px;
          padding: 0px 20px 0px 20px;
      }
  }

  html {
    padding: 0 0 0 0;
  }
  body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  #mainTitle {
    top: 0;
    left: 0;
    width:100%;
    padding: 10px 10px 5px 10px;
    background-color:unset;
    font-family: Courier New, Courier, monospace;
    position:fixed;
    border-bottom: unset;
    z-index: 99999999;
  }
  #mainContent {
    margin: 40vh 0 -10px 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    padding: 1px 10% 50px 10%;
    top:230px;
  }
  #mainContent a:link{
    color:green;
    text-decoration: underline dotted;
  }
  #mainContent a:visited{
    color:darkgreen;
    text-decoration: underline solid;
  }
  #footer {
    background-color: #dddddd;
    color: #555555;
    font-family: sans-serif;
    /*margin: 5px 0 5px 0;*/
    padding: 20px 50px 0px 50px;
    vertical-align: text-bottom;
    /*width: 100%;
    /*font-size: 8pt;*/
  }
  #footer a:link {
    color:#555555;
    text-decoration:underline dotted;
  }
  #footer a:visited {
    color: #222222;
    text-decoration: underline dotted;
  }
  #coolBackground{
    background-image:url("background2.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size:100%;
    background-color: rgb(0,122,0);
    width: 100%;
    height: 40vh;
    position:absolute;
    left: 0;
    top: 0;
    z-index: -5;
  }

  @media only screen and (max-device-width : 480px) {
    #coolBackground{
      background-size:150%;
    }
  }

  /*sidebar*/
  #sidebar1 {
      position: fixed;
      width: 0px;
      right:0px;
      top: 0px;
      background-color:white;
      border-left: 1px solid #eeeeee;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0px 0px 0px 0px;
      overflow: hidden;
  }
  #sidebar1 a:link{
    color:green;
    text-decoration: underline dotted;
  }
  #sidebar1 a:visited{
    color:darkgreen;
    text-decoration: underline solid;
  }
  #innersidebar{
    width: 200px;
    overflow-y: auto;
    padding: 0px 0px 0px 0px;
    height:100%;
  }