

.tilebox {
    /* background: lightgrey; */
    padding: 0 0 0 0;
    height: initial;
}

.tilebox .tile {
    background-color: black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 200px;
    height: 200px;
    overflow:hidden;
    color:rgba(255,255,255,0);
    transition: color 0.5s, width 0.5s, height 0.5s, z-index 0.5s, margin 0.5s;
    vertical-align: top;
    display:inline-block;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    z-index: 0;
}

.tilebox .tile .gobutton {
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    border: 0px solid transparent;
    padding: 1em 1em 1em 1em;
    width: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    overflow: hidden;

    transition: background-color 0.5s, color 0.5s, width 0.5s;
}
.tilebox .tile .gobutton div {
    width: 140px;
    transform: translate(-50%,0);
    margin: 0 50% 0 50%;
} 

.tilebox .tile:hover .gobutton {
    background-color: green;
    color:black;
    width: 150px;
}

.tilebox .tile a:link, .tilebox .tile a:visited {
    color:rgba(255,255,255,0);
    text-decoration: underline dotted;
    transition: color 0.5s;
}

.tilebox .tile p{
    font-size: 12pt;
    font-weight: normal;
    transition: color 0.5s;
}

.tilebox .tile img {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 200px;
    height: 200px;
    filter: blur(0) brightness(100%);
    transition: filter 0.5s, width 0.5s, height 0.5s;
}

.tilebox .tile:hover img {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 300px;
    height: 300px;
    filter: blur(5px) brightness(50%);
}

.tilebox .tile h3 {
    padding: 0 0 0 0;
    margin: -50% 50% 50% 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: color 0.5s;
}

.tilebox .tile:hover {
    width: 300px;
    height: 300px;
    z-index: 200;
    margin: 0 -100px -100px 0;
}

.tilebox .tile:hover h3{
    color: rgba(255,255,255,1);
}

.tilebox .tile:hover p{
    color: rgba(255,255,255,0.5);
}

.tilebox .tile:hover a:link, .tilebox .tile:hover a:visited{
    color: darkgreen;
}


